:root[data-applied-mode="light"] {
    color-scheme: light;
    --text-color: #0d121c;
    --text-sidebar-color: #ffffff;
    --background-color: #ecf0f1;
    --primary-color: #586187;
    --secondary-color: #98afe2;
    --timeline-color: #fbfcfe;
    --card-color: #fbfcfe;
    --accent-color: #6288da; /* Accent color for buttons and links */
    --readtime-color: #666666;
}

:root[data-applied-mode="dark"] {
    color-scheme: dark;
    --text-color: #e3e8f2;
    --text-sidebar-color: #ffffff;
    --background-color: #262629;
    --primary-color: #586187;
    --secondary-color: #6060D1;
    --timeline-color: #6A6A73;
    --card-color: #45474e;
    --accent-color: #254b9d;
    --readtime-color: #ccc;
}

/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: justify;
}

.container {
    display: flex;
    justify-content: center;
}


/* Sidebar Content Styling */
.sidebar {
    width: 20%;
    min-height: 95vh; /* Ensures the sidebar takes up at least 95% of the viewport height */
    max-height: 95vh; /* Limits the sidebar height to the viewport height */
    background-color: var(--primary-color);
    color: var(--text-sidebar-color);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    overflow-y: auto; /* Add scrollbars when content overflows */
    flex: 0 0 350px; /* Fixed width for the sidebar */
}

.picture img {
    border-radius: 50%;
    width: 220px; /* Increased size */
    height: 220px; /* Increased size */
    object-fit: cover; /* Ensure the image keeps its aspect ratio */
    display: block;
    margin-bottom: 3px; /* Added spacing below the image */
}

.info h1 {
    text-align: center; /* Adjusted alignment */
    font-size: 1.7em; /* Slightly larger font size */
    margin-bottom: 35px; /* Added spacing below the heading */
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    margin-bottom: 20px; /* Increased spacing between info-containers */
}

.icon {
    margin-right: 15px; /* Adjusted margin for more spacing */
    flex: none;
}

.icon img {
    width: 28px; /* Slightly larger icon size */
    height: 28px;
    vertical-align: middle;
    margin-right: 10px; /* Adjusted spacing */
}

.details {
    flex: 1; /* Allow details to take up remaining space */
}

.info h2 {
    margin: 3px 0; /* Adjusted margin */
    font-size: 1.2em; /* Slightly larger font size */
    border-bottom: 1px solid var(--text-sidebar-color); /* Added underline */
    line-height: 0.1em; /* Decrease line height to make the border thinner */
    padding-bottom: 12px; /* Adjust padding to control distance between text and border */
}

.info p {
    margin: 8px 0; /* Adjusted margin */
    font-size: 1em; /* Slightly larger font size */
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 200px; /* Space above the social links */
    gap: 20px; /* Space between icons */
}

.social-links a {
    display: inline-block;
}

.social-links img {
    width: 30px; /* Size of the social media icons */
    height: 30px;
}
/* -- End of Sidebar Content Styling -- */


.main-content {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

/* Header and Navigation Styling */
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.header-nav h1 {
    margin: 0;
    padding-right: 20px;
    border-bottom: 2px solid var(--secondary-color);
    font-size: 36px; /* Adjusted font size */
    display: inline-block; /* Ensure the <h1> only takes the necessary width */
    width: auto; /* Ensure the <h1> only takes the necessary width */
}

.navigation {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--primary-color);
    padding: 7px 10px; /* Adjusted padding to increase height */
    border-radius: 10px; /* Adjust border radius to control the roundness of corners */
    list-style-type: none; /* Remove default list style */
}

.navigation img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    margin-left: auto; /* This pushes the icon to the right */
}

.navigation li {
    display: flex; /* This ensures the content inside <li> is aligned */
    align-items: center;
}

.navigation a {
    display: flex; /* This ensures the content inside <a> is aligned */
    align-items: center;
    color: var(--background-color);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px; /* Rounded corners for each link */
}

.navigation a.active {
    color: var(--text-color);
}

.navigation img {
    width: 25px; /* Adjust the size as needed */
    height: 25px; /* Adjust the size as needed */
    cursor: pointer; /* Change cursor to pointer on hover */
    padding: 5px; /* Add some padding if needed */
    border-radius: 50%; /* Make the image rounded if desired */
}

.menu-toggle {
    display: none; /* Hide the menu toggle button by default */
}

/* -- End of Header and Navigation Styling -- */


/* About Section Styling */
.about {
    margin-top: 30px;
}

.about-me {
    background-color: var(--card-color); /* Changed background color */
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.about-me p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: var(--text-color);
    text-align: justify;
}

/* Hobbies Section Styling */
.hobbies {
    background-color: var(--card-color);
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hobbies h2 {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 20px;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
}

.hobbies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hobby {
    width: 48%; /* Two per line */
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* Center items vertically */
}

.hobby img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    object-fit: contain; /* Ensure the image fits within its container */
}

.hobby-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
}

.hobby h3 {
    font-size: 18px;
    color: var(--text-color);
    margin: 0 0 5px 0; /* Remove top margin, keep bottom margin */
}

.hobby p {
    font-size: 14px;
    color: var(--text-color);
    line-height: 1.4;
    margin: 0; /* Remove default paragraph margin */
}

.areas-of-interest {
    background-color: var(--card-color);
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.areas-of-interest h2 {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 20px;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
}

.interest-container {
    justify-content: space-between;
}

.interest {
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* Center items vertically */
}

.interest img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    object-fit: contain; /* Ensure the image fits within its container */
}

.interest-content {
    justify-content: center; /* Center content vertically */
}

.interest h3 {
    font-size: 19px;
    color: var(--text-color);
    margin: 0 0 5px 0; /* Remove top margin, keep bottom margin */
}

.interest p {
    font-size: 15px;
    color: var(--text-color);
    line-height: 1.4;
    margin: 0; /* Remove default paragraph margin */
}


/* -- End of About Section Styling -- */


/* Skills Section Styling */
.education{
    background-color: var(--card-color);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}



.education h2 {
    font-size: 28px;
    color: var(--text-color);
    margin-top: 3px;
    margin-bottom: 22px;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
}

.timeline {
    position: relative;
    padding-left: 30px;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    bottom: 0;
    width: 2px;
    background: var(--secondary-color);
}

.timeline-item {
    position: relative;
    margin-bottom: 30px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -35px;
    top: 20px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--primary-color);
}

.timeline-content {
    background: var(--timeline-color);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-content .description {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
    background-color: var(--timeline-color);
    border-radius: 0 0 8px 8px;
    padding: 0 15px;
    margin: 0 -15px;
    color: var(--text-color)
}

.timeline-content:hover .description {
    max-height: 100px;
    opacity: 1;
    padding: 10px 15px;
    margin-top: 10px;
}

.timeline-content {
    transition: all 0.3s ease-out;
}

.timeline-content:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.timeline-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 20px;
}

.timeline-content .date {
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 5px;
}

.timeline-content .institution {
    color: var(--text-color);
    font-style: italic;
}
/* -- End of Skills Section Styling -- */

.work-experience{
    background-color: var(--card-color);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.work-experience h2 {
    font-size: 28px;
    color: var(--text-color);
    margin-top: 3px;
    margin-bottom: 22px;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
}

/* Skills Section Styling */
.skills {
    background-color: var(--card-color);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.skills h2 {
    font-size: 28px;
    color: var(--text-color);
    margin-top: 3px;
    margin-bottom: 5px;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
}

.skills-list {
    display: flex;
    gap: 40px; /* Increased gap between sections */
}

.skill-category {
    flex: 1;
    min-width: 150px;
}

.skill-category h3 {
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.skill-category ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px; /* Increased gap between items */
}

.skill-category ul li {
    background-color: var(--timeline-color);
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.skill-category ul li span {
    margin-right: 6px; /* Adjusted space between text and icon */
}

.skill-category ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.proficiency-note {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    color: var(--text-color);
    font-size: 14px;
}

/* Languages Section Styling */
.languages {
    background-color: var(--card-color);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.languages h2 {
    font-size: 28px;
    color: var(--text-color);
    margin-top: 3px;
    margin-bottom: 22px;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
}

.language-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.language-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--timeline-color);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.language-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.language-name {
    font-weight: bold;
    color: var(--text-color);
}

.language-rating {
    display: flex;
    gap: 5px;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    background-color: transparent;
}

.circle.filled {
    background-color: var(--text-color);
}

/* Add this to your existing Languages Section Styling */
.language-name {
    font-weight: bold;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.flag {
    margin-left: 10px;
    font-size: 1.2em; /* Adjust size as needed */
}



.portfolio-container {
    background-color: var(--card-color);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.portfolio-container h2 {
    font-size: 28px;
    color: var(--text-color);
    margin-top: 3px;
    margin-bottom: 22px;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-card {
    background-color: transparent;
    width: 100%;
    height: 300px; /* Adjust as needed */
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.project-card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-front {
    background-color: var(--timeline-color);
    color: var(--text-color);
}

.card-back {
    background-color: var(--timeline-color);
    color: var(--text-color);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-front img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-front h3 {
    margin: 10px 0 5px;
    margin-bottom: 18px;
}

.project-tag {
    background-color: var(--secondary-color);
    color: -var(--text-color);
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 12px;
}

.card-back p {
    margin: 15px;
    line-height: 1.6;
    text-align: justify;
}

.card-back a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
}

.card-back a:hover {
    text-decoration: underline;
}



.musings-container {
    background-color: var(--card-color);
    border-radius: 15px;
    padding: 0px 30px 30px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.musing {
    border-bottom: 1px solid var(--primary-color);
    padding: 1em 0;
}

.musing-title a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5em;
}

.musing-meta {
    color: var(--readtime-color);
    font-size: 0.9em;
}

.musing-synopsis {
    margin-top: 0.5em;
    font-size: 1em;
    color: var(--text-color);
}


.article-container {
    background-color: var(--card-color);
    border-radius: 15px;
    padding: 0px 30px 30px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.musing-content {
    margin-top: 1em;
    font-size: 1em;
    line-height: 1.6;
    color: var(--text-color);
}

.article-image {
    display: block;
    min-width: 40%;
    max-width: 40%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.back-button {
    display: inline-block;
    margin-bottom: 0.5em;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 16px 0px 0px 0px;
    border-bottom: 1px solid var(--primary-color);
}

.back-button:hover {
    color: var(--primary-color-hover); /* Define a hover color in your CSS variables */
    border-bottom-color: var(--primary-color-hover); /* Define a hover color in your CSS variables */
}

