/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
    color: #2c3e50;
}

.container {
    display: flex;
    justify-content: center;
}


/* Sidebar Content Styling */
.sidebar {
    width: 20%;
    min-height: 95vh; /* Ensures the sidebar takes up at least 95% of the viewport height */
    max-height: 95vh; /* Limits the sidebar height to the viewport height */
    background-color: #34495e;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    overflow-y: auto; /* Add scrollbars when content overflows */
}

.picture img {
    border-radius: 50%;
    width: 220px; /* Increased size */
    height: 220px; /* Increased size */
    object-fit: cover; /* Ensure the image keeps its aspect ratio */
    display: block;
    margin-bottom: 3px; /* Added spacing below the image */
}

.info h1 {
    text-align: center; /* Adjusted alignment */
    font-size: 1.7em; /* Slightly larger font size */
    margin-bottom: 35px; /* Added spacing below the heading */
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    margin-bottom: 20px; /* Increased spacing between info-containers */
}

.icon {
    margin-right: 15px; /* Adjusted margin for more spacing */
    flex: none;
}

.icon img {
    width: 28px; /* Slightly larger icon size */
    height: 28px;
    vertical-align: middle;
    margin-right: 10px; /* Adjusted spacing */
}

.details {
    flex: 1; /* Allow details to take up remaining space */
}

.info h2 {
    margin: 3px 0; /* Adjusted margin */
    font-size: 1.2em; /* Slightly larger font size */
    border-bottom: 1px solid white;
    line-height: 0.1em; /* Decrease line height to make the border thinner */
    padding-bottom: 12px; /* Adjust padding to control distance between text and border */
}

.info p {
    margin: 8px 0; /* Adjusted margin */
    font-size: 1em; /* Slightly larger font size */
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 200px; /* Space above the social links */
    gap: 20px; /* Space between icons */
}

.social-links a {
    display: inline-block;
}

.social-links img {
    width: 30px; /* Size of the social media icons */
    height: 30px;
}
/* -- End of Sidebar Content Styling -- */


.main-content {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

/* Header and Navigation Styling */
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.header-nav h1 {
    margin: 0;
    padding-right: 20px;
    border-bottom: 2px solid #34495e;
    font-size: 36px; /* Adjusted font size */
    display: inline-block; /* Ensure the <h1> only takes the necessary width */
    width: auto; /* Ensure the <h1> only takes the necessary width */
}

.navigation {
    display: flex;
    gap: 15px;
    background-color: #2c3e50; /* Background color for the navigation */
    padding: 15px 10px; /* Adjusted padding to increase height */
    border-radius: 10px; /* Adjust border radius to control the roundness of corners */
}

.navigation a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px; /* Rounded corners for each link */
}

.navigation a.active {
    color: #1abc9c; /* Change this to the desired highlight color */
}
/* -- End of Header and Navigation Styling -- */


/* About Section Styling */
/* About Section Styling */
.about {
    margin-top: 30px;
}

.about-me {
    background-color: white;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.about-me p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #333;
}

/* Hobbies Section Styling */
.hobbies {
    background-color: white;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hobbies h2 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
}

.hobbies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hobby {
    width: 48%; /* Two per line */
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* Center items vertically */
}

.hobby img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    object-fit: contain; /* Ensure the image fits within its container */
}

.hobby-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
}

.hobby h3 {
    font-size: 18px;
    color: #34495e;
    margin: 0 0 5px 0; /* Remove top margin, keep bottom margin */
}

.hobby p {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
    margin: 0; /* Remove default paragraph margin */
}

.areas-of-interest {
    background-color: white;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.areas-of-interest h2 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
}

.interest-container {
    justify-content: space-between;
}

.interest {
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* Center items vertically */
}

.interest img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    object-fit: contain; /* Ensure the image fits within its container */
}

.interest-content {
    justify-content: center; /* Center content vertically */
}

.interest h3 {
    font-size: 19px;
    color: #34495e;
    margin: 0 0 5px 0; /* Remove top margin, keep bottom margin */
}

.interest p {
    font-size: 15px;
    color: #555;
    line-height: 1.4;
    margin: 0; /* Remove default paragraph margin */
}


/* -- End of About Section Styling -- */


/* Skills Section Styling */
.education{
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}



.education h2 {
    font-size: 28px;
    color: #333;
    margin-top: 3px;
    margin-bottom: 22px;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
}

.timeline {
    position: relative;
    padding-left: 30px;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    bottom: 0;
    width: 2px;
    background: #333;
}

.timeline-item {
    position: relative;
    margin-bottom: 30px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -35px;
    top: 20px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #007bff;
}

.timeline-content {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #007bff;
    font-size: 20px;
}

.timeline-content .date {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.timeline-content .institution {
    color: #777;
    font-style: italic;
}
/* -- End of Skills Section Styling -- */

.work-experience{
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.work-experience h2 {
    font-size: 28px;
    color: #333;
    margin-top: 3px;
    margin-bottom: 22px;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
}
